* {
  margin: 0;
  padding: 0;
}
:root {
  --max-width: 400px;
}
.container {
  padding: 20px;
  max-width: var(--max-width);
  margin: auto;
  text-align: center;
}
.header {
  padding: 10px;
  font-size:48px;
  font-weight: 900;
  max-width: var(--max-width);
  margin: auto;
}
.button {
  padding: 10px 15px;
  margin: 8px;
  display: inline-block;
  box-sizing: border-box;
}
.input {
  padding: 10px;
  min-width: 220px;
  margin-bottom: 16px;
}
.user {
  padding: 8px;
}